<h2>Welcome to Lama Robo Advisor</h2>
<form action="/financial_FAQ" method="post">
    <input type="submit" value="Financial FAQ">
</form>

<!-- To Display the Singapore Joke-->
<form action="/joke" method="post">
    <input type="submit" value="Singapore Joke">
</form>

<!-- To Display TextBlob Sentiment Analysis-->
<form action="/textblob_sentiment" method="post">
    <input type="text" name="user_text" placeholder="Enter text for TextBlob sentiment">
    <input type="submit" value="Analyze with TextBlob">
</form>

<!-- To Display Transformer Sentiment Analysis-->
<form action="/transformer_sentiment" method="post">
    <input type="text" name="user_text" placeholder="Enter text for Transformer sentiment">
    <input type="submit" value="Analyze with Transformer">
</form>